@import "Variables";

.filter-by-status{
    display: flex;
    gap: 0.1rem;
}

.status-select-label{
    color: $text-color-primary-light;
    @media(max-width: map-get($breakpoints, "mobile")){
        display: none;
    }
}

.status-select{
    //appearance: none;
    outline: none;
    border: none;
    background-color: $bk-main-dark;
    color: $text-color-primary-light;
    font-size: medium;
    transform: translateY(1px); //it's misaligned with the selector label
}

.status-select-label, .status-select{
    @media(max-width: map-get($breakpoints, "tablet")){
        font-size: small;
    }    
}

.status-option{
    border: none; //doesn't remove option dropdown border
}