@import "Variables";

@mixin status-container-mixin($color, $bk-color) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $width-invoice-status;
    height: 2rem;
    border-radius: .2rem;
    background-color: $bk-color;    

    .invoice-status{
        font-size: medium;
        color: $color;
    }
}

.invoice{
    display: flex;
    align-items: center;
    height: $height-invoice-desktop;
    padding: 0 $invoice-padding 0 $invoice-padding;
    border-radius: $main-content-items-radius;
    background-color: $bk-invoice-dark;
}

.invoice-client{
    width: $width-invoice-client;
    font-size: medium;
    color: $text-color-primary-light;
}
.invoice-number{
    width: $width-invoice-number;
    font-size: small;
    color: $text-color-secondary-light;    
}
.invoice-date{
    width: $width-invoice-date;
    font-size: small;
    color: $text-color-secondary-light;    
}
.invoice-amount{
    width: $width-invoice-amount;
    font-size: large;
    color: $text-color-primary-light;    
}

.invoice-status-container-paid{
    @include status-container-mixin(#4BDBAA, #4bdbaa2f);
}
.invoice-status-container-pending{
    @include status-container-mixin(#FF8F00, #FF8F002f);
}
.invoice-status-container-overdue{
    @include status-container-mixin(#ff6161, #6b1616);
}

.edit-invoice-container{
    width: $edit-invoice-total-width;
    display: flex;
    flex-direction: row-reverse;
    .edit-invoice{
        width: $edit-invoice-total-width - 2rem;
        height: 2rem;
        background-image: url("../assets/edit-white.png");
        background-repeat: no-repeat;
        background-size: contain;
    }
}


