@import "Variables";
@import "Mixins";

.invoices-top-panel{
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include responsiveContentWidth(70%, 85%, 95%);

    .invoice-counter{
        justify-self: flex-end;
        height: 4rem;

        h1, p{
            margin: 0;           
        }

        h1{
            color: $text-color-primary-light;
            @media(max-width: map-get($breakpoints, "tablet")){
                font-size: x-large;
            }              
        }

        p{
            color: $text-color-secondary-light;
            @media(max-width: map-get($breakpoints, "tablet")){
                font-size: small;
            }             
        }
    }

    .invoice-top-right{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}