@import "Variables";
@import "Mixins";

@mixin status-container-mixin($color, $bgColor) {
    @include invoiceElementCommon($width-invoice-status, status, center, center, start);
    @include buttonBackgroundCommon(center, $width-invoice-status, 2rem, 0.2rem, $bgColor);

    .invoice-status{
        font-size: medium;
        color: $color;
    }   
}

.invoice{
    min-width: $invoice-min-width;
    border-radius: $main-content-items-radius;
    background-color: $bk-invoice-dark;
    display: grid; 

    grid-template-columns: 1rem 2.7fr 1.1fr 1.4fr 0.5fr 2fr 0.4fr 1rem;
    
    grid-template-rows: $height-invoice-desktop;
    grid-template-areas:
        ". client number date amount status edit ."; 

    align-items: center;

    @media(max-width: map-get($breakpoints, "tablet")){
        grid-template-rows: 1.5rem 2rem;
        grid-template-columns: 1rem 1.3fr 1fr 0.6fr auto 1rem;
        grid-template-areas: 
            ". client date amount edit ."
            ". number   .  status edit .";           
        
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;        
    }

    @media(max-width: map-get($breakpoints, "mobile")){
        grid-template-rows: 1.5rem 1.5rem 2rem;
        grid-template-columns: 1rem 3fr 1fr 2fr 1rem;
        grid-template-areas: 
            ". client . amount ."
            ". number . date ."
            ". status . edit .";
        
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

.invoice-client{
    @include invoiceElementCommon($width-invoice-client, client, start, start, start);
    @include shortTextCommon(large, $text-color-primary-light);
}
.invoice-number{   
    @include invoiceElementCommon($width-invoice-number, number, start, start, start);      
    @include shortTextCommon(small, $text-color-secondary-light);          
}
.invoice-date{
    @include invoiceElementCommon($width-invoice-date, date, start, start, end);    
    @include shortTextCommon(small, $text-color-secondary-light);     
}
.invoice-amount{ 
    @include invoiceElementCommon($width-invoice-amount, amount, start, center, end);    
    @include shortTextCommon(large, $text-color-primary-light);        
}

.invoice-status-container-paid{
    @include status-container-mixin(#4BDBAA, #4bdbaa2f);
}
.invoice-status-container-pending{
    @include status-container-mixin(#FF8F00, #FF8F002f);
}
.invoice-status-container-overdue{
    @include status-container-mixin(#ff6161, #6b1616);
}

.edit-invoice-container{
    @include invoiceElementCommon($edit-invoice-total-width, edit, start, end, end);
    width: $edit-invoice-total-width;
    display: flex;
    .edit-invoice{
        @include standardIcon("../assets/edit-white.png", $edit-invoice-total-width, 2rem);
    }   
}


