@import "Variables";
@import "Mixins";

@mixin status-container-mixin($color, $bgColor) {
 
    @include buttonBackgroundCommon(center, $width-invoice-status, 2rem, 0.2rem, $bgColor);

    .invoice-status{
        font-size: medium;
        color: $color;
    }
}

.invoice{
    // display: flex;
    // align-items: center;
    // height: $height-invoice-desktop;
    // padding: 0 $invoice-padding 0 $invoice-padding;
    border-radius: $main-content-items-radius;
    background-color: $bk-invoice-dark;
    display: grid; 

    grid-template-columns: 15rem 6rem 6rem 5rem 3rem;

    @media(min-width: 1280px/* map-get($breakpoints: "xl") */){
        grid-template-columns: $width-invoice-client $width-invoice-number $width-invoice-date $width-invoice-amount $edit-invoice-total-width - 2rem;
    } 
    @media(min-width: 960px/* map-get($breakpoints: "lg") */){
        grid-template-columns: $width-invoice-client - 1rem $width-invoice-number - 1rem $width-invoice-date - 1rem $width-invoice-amount - 0.7rem $edit-invoice-total-width - 2rem;
    }
    @media(min-width: 720px/* map-get($breakpoints: "md") */){
        grid-template-columns: $width-invoice-client - 2rem $width-invoice-number - 2rem $width-invoice-date - 2rem $width-invoice-amount - 1.4rem $edit-invoice-total-width - 2rem;
    }  
    
    grid-template-rows: $height-invoice-desktop;
    grid-template-areas:
        "client number date amount status edit"; 
    justify-items: center;
    align-items: center;
}

.invoice-client{
    grid-area: client;
    @include shortTextCommon(/* $width-invoice-client */auto,  large, $text-color-primary-light);
    //@include responsiveDimension($width-invoice-client - 4rem, $width-invoice-client - 3rem, $width-invoice-client - 2rem, $width-invoice-client - 1rem, $width-invoice-client);
}
.invoice-number{   
    grid-area: number;
    @include shortTextCommon(/* $width-invoice-number */auto,  small, $text-color-secondary-light);    
    //@include responsiveDimension($width-invoice-number - 4rem, $width-invoice-number - 3rem, $width-invoice-number - 2rem, $width-invoice-number - 1rem, $width-invoice-number);

}
.invoice-date{
    grid-area: date;
    @include shortTextCommon(/* $width-invoice-date */auto,  small, $text-color-secondary-light);    
    //@include responsiveDimension($width-invoice-date - 4rem, $width-invoice-date - 3rem, $width-invoice-date - 2rem, $width-invoice-date - 1rem, $width-invoice-date);
    
}
.invoice-amount{ 
    grid-area: amount;
    @include shortTextCommon(/* $width-invoice-amount */auto,  large, $text-color-primary-light);    
    //@include responsiveDimension($width-invoice-amount - 3rem, $width-invoice-amount - 2rem, $width-invoice-amount - 1.4rem, $width-invoice-amount - 0.7rem, $width-invoice-amount);    
}

.invoice-status-container-paid{
    @include status-container-mixin(#4BDBAA, #4bdbaa2f);
}
.invoice-status-container-pending{
    @include status-container-mixin(#FF8F00, #FF8F002f);
}
.invoice-status-container-overdue{
    @include status-container-mixin(#ff6161, #6b1616);
}

.edit-invoice-container{
    width: $edit-invoice-total-width;
    display: flex;
    flex-direction: row-reverse;
    .edit-invoice{
        // width: $edit-invoice-total-width - 2rem;
        // height: 2rem;
        // background-image: url("../assets/edit-white.png");
        // background-repeat: no-repeat;
        // background-size: contain;
        @include standardIcon("../assets/edit-white.png", $edit-invoice-total-width - 2rem, 2rem);
    }
}


