@import "Variables";

@mixin shortTextCommon(/* $width: 3rem, */ $fontSize: medium, $color: #ffffff){
    //width: $width;
    font-size: $fontSize;
    color: $color;    
    margin: 0;  
}

@mixin invoiceElementCommon($minWidth, $gridHandle, $justifySelfDesktop, $justifySelfTablet, $justifySelfMobile){
    //min-width: $minWidth;
    box-sizing: border-box;
    grid-area: $gridHandle;
    justify-self: $justifySelfDesktop;
  
    @media(max-width: map-get($breakpoints, "tablet")){ //these need to be defined in this order: 1) tablet 2)mobile (I assume '0' is xl). Probably has something to do with CASCADING style sheets. idk
        justify-self: $justifySelfTablet;       //apparently desktop-first media queries that use MAX-width need to flow from xl -> xs. Mobile-first uses MIN-width and is vice-versa
    }     
    @media(max-width: map-get($breakpoints, "mobile")){
        justify-self: $justifySelfMobile;
    }       
}

@mixin standardIcon($image, $width: 2rem, $height: 2rem){
    width: $width;
    height: $height;
    background-image: url($image);
    background-repeat: no-repeat;
    background-size: contain; 
}

@mixin buttonBackgroundCommon($justify: flex-start, $width: 3rem, $height: 1rem, $radius: 0, $bgColor: #ffffff){
    display: flex;
    justify-content: $justify;
    align-items: center;
    width: $width;
    height: $height;
    border-radius: $radius;
    background-color: $bgColor;      
}

@mixin responsiveContentWidth($desktop, $tablet, $mobile){
    width: $desktop;
    @media(max-width: map-get($breakpoints, "tablet")){
        width: $tablet;
    }
    @media(max-width: map-get($breakpoints, "mobile")){
        width: $mobile;
    }  
}