@import "Variables";

@mixin shortTextCommon(/* $width: 3rem, */ $fontSize: medium, $color: #ffffff){
    //width: $width;
    font-size: $fontSize;
    color: $color;    
    margin: 0;  
}

@mixin invoiceElementCommon($minWidth, $gridHandle, $justifySelfDesktop, $justifySelfMobile, $justifySelfTablet){
    min-width: $minWidth;
    box-sizing: border-box;
    grid-area: $gridHandle;
    justify-self: $justifySelfDesktop;

    @media(max-width: map-get($breakpoints, "mobile")){
        justify-self: $justifySelfMobile;
    }   
    @media(max-width: map-get($breakpoints, "tablet")){
        justify-self: $justifySelfTablet;
    }      
}

@mixin standardIcon($image, $width: 2rem, $height: 2rem){
    width: $width;
    height: $height;
    background-image: url($image);
    background-repeat: no-repeat;
    background-size: contain; 
}

@mixin buttonBackgroundCommon($justify: flex-start, $width: 3rem, $height: 1rem, $radius: 0, $bgColor: #ffffff){
    display: flex;
    justify-content: $justify;
    align-items: center;
    width: $width;
    height: $height;
    border-radius: $radius;
    background-color: $bgColor;      
}