@import "Variables";

.nav-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //align-items: center;
    position: fixed;
    width: 15rem;
    height: 100vh;
    background-color: #252945;
    border: solid 1px red;
    left: 0;

    color: pink;

    @media(max-width: map-get($breakpoints, "tablet")){
        flex-direction: row;
        width: 100vw;
        height: $nav-bar-height-tablet;
        top: 0;
    }

    .logo{
        background-image: url("../assets/bird-white-small1.png");
        height: 4rem;
        background-repeat: no-repeat;
        background-size: contain;
        @media(max-width: map-get($breakpoints, "tablet")){
            width: 3.5rem;
        }
    }
}