@import "Variables";
@import "Mixins";

.new-invoice{
    @include buttonBackgroundCommon(flex-start, 9rem, 2rem, 1.1rem, $bg-cta);
    gap: 0.5rem;
    padding: 0.1rem 0.3rem 0.1rem 0.3rem;    
}

.add-icon{ 
    @include standardIcon("../assets/plus-white.png", 1.8rem, 1.8rem); 
}

.new-invoice-label{
    color: #ffffff;
}