//colors background
$bk-invoice-dark: #1E2139;
$bk-main-dark: #141625;

//colors text
$text-color-primary-light: #ffffff;
$text-color-secondary-light: #9c9c9c;

//dimentions
$content-width-percent-desktop: 70%;
$height-invoice-desktop: 4rem;

//shapes
$main-content-items-radius: .5rem;